@import '~bootstrap/scss/bootstrap';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Lato;
  src: local(Lato) url('./fonts/lato/Lato-Regular.woff') format('woff');
}

body {
  margin: 0;
  background-color: rgb(15 23 42);
  color: rgb(51 65 85);
  font-family: 'Lato', 'Open Sans', Roboto, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
